/.vs
/FOP_GRP_WORK-GRP_06/x64
/FOP_GRP_WORK-GRP_06/FOP_GRP_WORK-GRP_06.vcxproj
/FOP_GRP_WORK-GRP_06/FOP_GRP_WORK-GRP_06.vcxproj.filters
/FOP_GRP_WORK-GRP_06/FOP_GRP_WORK-GRP_06.vcxproj.user
/x64/Debug
/FOP_GRP_WORK-GRP_06.sln